@model DataAccess.Models.Product

<h2>Create Product</h2>

<div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    <div class="form-group">
        <label asp-for="SupplierId" class="control-label"></label>
        <input asp-for="SupplierId" id="SupplierId" class="form-control" />
        <span asp-validation-for="SupplierId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" id="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" id="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" id="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreateYear" class="control-label"></label>
        <input asp-for="CreateYear" id="CreateYear" class="form-control" />
        <span asp-validation-for="CreateYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="submitAdd btn btn-primary" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    var product = {};

    $(document).ready(function () {
        $(".submitAdd").on("click", function () {
            product.supplierId = document.getElementById("SupplierId").value;
            product.name = document.getElementById("Name").value;
            product.description = document.getElementById("Description").value;
            product.price = document.getElementById("Price").value;
            product.createYear = document.getElementById("CreateYear").value;

            $.ajax({
                url: "https://localhost:7170/api/Products",
                type: "POST",
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                contentType: "application/json",
                data: JSON.stringify(product),
                success: function (result, status, xhr) {
                    window.location.href = '/Products/Index';
                },
                error: function (xhr, status, error) {
                    console.log(xhr);
                }
            });
        })
    });
</script>
