@model DataAccess.Models.Product

@{
    ViewData["Title"] = "Index";

}
<h1>Index</h1>
<div id="viewAdmin">
<p>
    <a class="btn btn-primary" href="/Products/Create">Create New</a>
</p>
<div class="form-group">
    <label for="productName">Product Name</label>
    <input type="text" class="form-control" id="productName" name="productName" placeholder="Enter product name">
</div>
<div class="form-group">
    <label for="unitPrice">Unit Price</label>
    <input type="number" min="0" step="0.01" class="form-control" id="unitPrice" name="unitPrice" placeholder="Enter unit price">
</div>
<button type="submit" class="searchProduct btn btn-primary">Search</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Description</th>
            <th>Price</th>
            <th>CreateYear</th>
            <th>Supplier</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="bodyProduct">
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    
    $(document).ready(function () {
        if (userRole !== "Manager" && userRole !== "Staff") {
            $('#viewAdmin').remove();
        }
        ShowAllProducts();
        function ShowAllProducts() {
            $.ajax({
                url: "https://localhost:7170/api/Products",
                method: "GET",
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                dataType: "json",
                success: function (data) {
                    var rows = '';
                    $.each(data, function (index, product) {
                        rows += '<tr>';
                        rows += '<td>' + (product.id || '') + '</td>';
                        rows += '<td>' + (product.name || '') + '</td>';
                        rows += '<td>' + (product.description || '') + '</td>';
                        rows += '<td>' + (product.price || '') + '</td>';
                        rows += '<td>' + (product.createYear || '') + '</td>';
                        rows += '<td>' + (product.supplier.name || '') + '</td>';
                        rows += '<td>';
                        if (userRole == "Manager") {
                            rows += '<a class="update btn btn-success" href="/Products/Edit?id=' + product.id + '">Update</a>';
                            rows += '<a class="delete btn btn-danger">Delete</a>';
                        }
                        rows += '</td>';
                        rows += '</tr>';
                    });
                    $('#bodyProduct').html(rows);
                },
                error: function (error) {
                    console.log("Error fetching data:", error);
                }
            });
        }
        $("table").on("click", "a.delete", function () {
            var Id = $(this).parents("tr").find("td:nth-child(1)").text();
            var ans = confirm("Are you sure you want to delete this record?");
            if (ans) {
                $.ajax({
                    url: "https://localhost:7170/api/Products/" + Id,
                    type: "delete",
                    contentType: "application/json",
                    headers: {
                        'Authorization': `Bearer ${token}`
                    },
                    success: function (result, status, xhr) {
                        ShowAllProducts();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                });
            }
        });
        $('.searchProduct').on('click', function () {
            var productN = document.getElementById('productName').value;
            var price = document.getElementById('unitPrice').value;

            var productFilter = "contains(tolower(Name),tolower('" + productN + "'))";
            var priceFilter = price ? " and Price eq " + price : "";

            $.ajax({
                url: "https://localhost:7170/api/Products/Search/?$filter=" + productFilter + priceFilter,
                method: "GET",
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    var rows = '';
                    $.each(data, function (index, product) {
                        rows += '<tr>';
                        rows += '<td>' + (product.id || '') + '</td>';
                        rows += '<td>' + (product.name || '') + '</td>';
                        rows += '<td>' + (product.description || '') + '</td>';
                        rows += '<td>' + (product.price || '') + '</td>';
                        rows += '<td>' + (product.createYear || '') + '</td>';
                        rows += '<td>' + (product.supplier.name || '') + '</td>';
                        rows += '<td>';
                        if (userRole == "Manager") {
                            rows += '<a class="update btn btn-success" href="/Products/Edit?id=' + product.id + '">Update</a>';
                            rows += '<a class="delete btn btn-danger">Delete</a>';
                        }
                        rows += '</td>';
                        rows += '</tr>';
                    });
                    $('#bodyProduct').html(rows);
                },
                error: function (error) {
                    console.log("Error fetching data:", error);
                }
            });
        });

    });


</script>